<section class="height-vh100-none h-00vh100 bgImages blue-bg-img" style="overflow-x: hidden;">
   <div class="container align-items-center d-flex " style="height: 100vh;">
     <div class="row w-100">
       <div class="col-md-4 m-auto">
         <div class="row row-decor00 card-box">
 
           <div class="col-md-12 my-pad-lr-50">
             <div class="row">
               <div class="col-md-12">
                 <img class="form-logo" src="assets/images/logo.png">
               </div>
             </div>
 
             <div class="row login-area" style="height: 80%;">
               <div class="col-md-12">
                 <div class="row">
                   <div class="col-md-12 mb-4">
 
                     
                     
                   </div>
 
                 </div>
                 <div class="login-area000">
                   <ng-container>
 
                     <form >
 
                       <div class="row firstform-decor000">
                         
 
                         
 
                         
                         <div class="col-md-12 text-center">
                           <div class="m-auto" style="display: flex;
                           align-items: center;
                           justify-content: center;">
                              <div style="text-align: center;
                              border: solid 1px green;
                              width: 80px;
                              height: 80px;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 75%;"><i style="font-size: 50px; color:green" class="fa-solid fa-check"></i></div>
                           </div>
                           <p class="formtit-1 mb-0">Password changed!</p>
                           <!-- <p class="formtit-2">Your password has been changed successfully.</p>
                           <p class="formtit-2">Check your registered email id for New Password.</p> -->
                           <p class="formtit-2">Your password has been changed successfully. Check your registered email id for New Password.</p>
                         </div>
 
                         
 
                         
 
 
                         <div class="col-md-12 mb-2 mt-2 d-grid">
                           <button class="btn btn-black btn-slide-login btn-block" (click)="goToLogin()">Go to Login</button>
                         </div>
 
                       </div>
                     </form>
                     
 
                   </ng-container>
                  
 
                 </div>
               </div>
             </div>
 
 
           </div>
 
         </div>
       </div>
     </div>
   </div>
 </section>