<div class="deposit-detail p-3">
    <div class="row">
        <div class="col-xxl-10 col-xl-10 col-md-10 col-12 left-side">
            <div>
                <h6>BTC Deposit</h6>
                <div class="table-responsive">
                    <table class="table" id="deposit">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Available</th>
                                <th>Trade </th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="d-flex align-items-center">
                                    <img src="assets\images\ikons\BTC.png" alt="" width="20px" height="20px"
                                        class="me-2">
                                    <span>BTC</span>
                                </td>
                                <td>0.00000000 BTC</td>
                                <td>0.00 BTC </td>
                                <td>0 BTC
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="details">
                <h6>Deposit <img src="assets\images\ikons\BTC.png" alt="" width="20px" height="20px" class="mx-1"> BTC
                    On Following Address</h6>
                <div class="info">
                    <div>
                        <p style="z-index: 99;position: relative;">Please pay attention! The coin you selected is:</p>
                        <p class="my-3 " style="z-index: 99;position: relative;"> <img src="assets\images\ikons\BTC.png"
                                alt="" width="28px" height="28px" class="mx-1"> Bitcoin BTC</p>
                        <small style="z-index: 99;position: relative;">Send only BTC to this deposit address. Sending
                            any other coin or token to this address
                            may result in the loss of your deposit.</small>
                        <a href="#" style="z-index: 99;position: relative;">Confirm</a>
                        <div class="qr-code">
                            <p class="my-3"> <img src="assets\images\ikons\qr-code.gif" alt="" width="150px"
                                    height="150px"></p>
                            <small>3HvA8HryhfT7Yno3RttRpcQbhRVXUuoqau</small>
                            <a href="#">Copy</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="notes">
                <h6>Notes</h6>
                <ul>
                    <li>The address is not allowed to deposit assets other than BTC and any other asset deposit will not
                        be recovered
                    </li>
                    <li>The deposit transaction will be automatic, and the BTC transfer will need to be confirmed by the
                        entire Blockchain network, and your BTC will be automatically deposited to your account after 3
                        confirmation.
                    </li>
                    <li>This address Is the only one you can use on your own, and you can do multiple recharging at the
                        same time.
                    </li>
                </ul>
            </div>
            <div class="mt-4">
                <h6>BTC Deposit Records</h6>
                <div class="table-responsive">
                    <table class="table" id="deposit">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Amount</th>
                                <th>Transaction ID	 </th>
                                <th>Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                    <td>No data available in table!
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-md-2  col-12 right-side d-lg-block d-none">
           <div> <app-order-place></app-order-place> </div>
        </div>
    </div>
</div>