.auto-option{box-shadow:0 2px 8px 1px rgba(64,60,67,.34);padding: 1.5rem;border-radius: 8px;font-size: 16px;transition: .5s;border: 1px solid #c7c7c7;}
.submit{font-size: 16px;background: #325c4e; padding: 8px 1.5rem;transition: .5s;}
.submit:hover{background: #fff;color: #325c4e;}
i{display: none;}
.card{box-shadow:0 2px 8px 1px rgba(64,60,67,.34);}
