<div class=" ">
    <div class="row middle">
        <div class="col-xxl-12 col-xl-12 col-md-12 col-12 left-side ordertrade-book-h3">
          <div class="table-responsive">
              <table class="table" id="deposit">
                  <thead>
                      <tr>
                        
                          <th>Timestamp</th>
                          <th>Order No.</th>
                          <th>Symbol</th>
                          <th>Type</th>
                          <th>Lot</th>
                          <th>Price</th>
                          <th>Action</th>
                       </tr>
                  </thead>
                  <tbody id="infoTable" *ngIf="getCancelAllData.length > 0">
                      <tr *ngFor="let order of getCancelAllData ; let i = index">
                          <td>
                              {{today | date:'yyyy-MM-dd HH:mm:ss'}}
                          </td>
                          <td>{{order.OrderID}}</td>
                          <td class="tbl-img">
  
                              <div class="d-flex align-items-center">
                                  <div><img class="watch-img" [src]="order.imgg"></div>
                                  <div>
                                      <div>{{order.Sym}}</div>
                                    
                                  </div>
                              </div>
                              
                          </td>
                          <td><span class="cl-type-buy" *ngIf="order.Buy_Sell == 1">Buy</span>
                              <span class="cl-type-sell" style *ngIf="order.Buy_Sell == 2">Sell</span></td>
                          <td>≈ {{order.Lot}} </td>
                          <td>{{order.Price}}</td>
                  
                          <td class="ms-3">
                              <div >
                                  <div class="text-center">
                                      <div placement="top" style="cursor: pointer;" ngbTooltip="Close Order" *ngIf="order.Status == 4"><i style="color:orangered">CANCEL</i>
                                      </div>
                                      <div placement="top" style="cursor: pointer;" ngbTooltip="Close Order"  *ngIf="order.Status == 6"><i style="color:orangered">PARTIAL</i>
                                      </div>
                                  </div>
                                
                              </div>
                              
                          </td>
                      </tr>
                     
                  </tbody>
                  <tbody *ngIf="getCancelAllData.length == 0">
                      <tr>
                         <td colspan="6">
                          <div style="text-align: center; padding-top: 2%; padding-bottom: 2%; ">
                              <img style="width: 200px;" src="assets/images/p2p-no-datat.png" alt="">
                           </div>
                         </td>
                      </tr>
                
                  </tbody>
              </table>
          </div>
          
  </div>
   
    </div>
  </div>
  
  <!-- <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title">Modify Your Order </h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <div class="mb-4">
              <div class="form-group-custom d-flex">
                  <h6>Price</h6>
                  <input  (keypress)="numberOnly($event)" [value]="modifyData.Price" autocomplete="off" class="form-control" id="price_buy"
                     type="text" />
                  <span>{{symbol}}</span>
                </div>
          </div>
          <div class="mb-4">
              <div class="form-group-custom d-flex">
                  <h6>Quantity</h6>
                  <input  (keypress)="numberOnly($event)" [value]="modifyData.Lot" autocomplete="off" class="form-control" id="price_buy"
                     type="text" />
                  <span>{{symbol}}</span>
                </div>
          </div>
          
          <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                  <button class="btn btn-success " style="width:100%">Submit</button>
              </div>
          </div>
      </div>
      
  </ng-template> -->