<section class="setpage">
    <div class="container-fluid padmng">
       <div class="row dd-top-card pt-4 mb-3">
          <div class="col-md-4 mb-3">
             <div class="tcard">
                <div class="tcard-body">
                   <div class="tflex">
                      <div>
                         <img class="mean-icon" src="assets/images/topico1.png">
                      </div>
                      <div>
                         <p class="tcard-tit">Registrations</p>
                         <p class="tcard-val">Total : <span>2589</span></p>
                      </div>
                   </div>
                </div>
                <div class="tcard-footer tc-bg1">
                   <div class="row">
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Today</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Week</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Month</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col">
                         <div class="pt-2 pb-2">
                            <p class="tfooter-tit">Total</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-4 mb-3">
             <div class="tcard">
                <div class="tcard-body">
                   <div class="tflex">
                      <div>
                         <img class="mean-icon" src="assets/images/topico2.png">
                      </div>
                      <div>
                         <p class="tcard-tit">KYC Requests</p>
                         <p class="tcard-val">Total : <span>2589</span></p>
                      </div>
                   </div>
                </div>
                <div class="tcard-footer tc-bg2">
                   <div class="row">
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Today</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Week</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Month</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col">
                         <div class="pt-2 pb-2">
                            <p class="tfooter-tit">Total</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-4 mb-3">
             <div class="tcard">
                <div class="tcard-body">
                   <div class="tflex">
                      <div>
                         <img class="mean-icon" src="assets/images/topico3.png">
                      </div>
                      <div>
                         <p class="tcard-tit">KYC Approved for Ex</p>
                         <p class="tcard-val">Total : <span>2589</span></p>
                      </div>
                   </div>
                </div>
                <div class="tcard-footer tc-bg3">
                   <div class="row">
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Today</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Week</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col border-r">
                         <div class=" pt-2 pb-2">
                            <p class="tfooter-tit">Month</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                      <div class="col">
                         <div class="pt-2 pb-2">
                            <p class="tfooter-tit">Total</p>
                            <p class="tfooter-val">256</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid padmng">
       <div class="row deshlink-div">
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">22</div>
                   <div class="valt2">Total users</div>
                </a>
             </div>
          </div>
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">12</div>
                   <div class="valt2">Pending KYC request</div>
                </a>
             </div>
          </div>
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">120</div>
                   <div class="valt2">Approved KYC request</div>
                </a>
             </div>
          </div>
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">40</div>
                   <div class="valt2">Pending Support request</div>
                </a>
             </div>
          </div>
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">90</div>
                   <div class="valt2">Total pending withdrawal request</div>
                </a>
             </div>
          </div>
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">25</div>
                   <div class="valt2">Total pending deposit request</div>
                </a>
             </div>
          </div>
          <div class="col">
             <div class="card-body-inn mb-2">
                <a href="">
                   <div class="valt">1254</div>
                   <div class="valt2">Pending internal transfer requests</div>
                </a>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid padmng">
       <div class="row">
          <div class="col-md-12">
             <div class="row">
                <div class="col-md-6 mt-3 mb-3">
                   <div class="table-card">
                      <h5 class="text-title mb-3">Deposit Stats</h5>
                      <div class="table-responsive">
                         <table class="table" id="statsTable">
                            <thead>
                               <tr>
                                  <th>Stats of</th>
                                  <th>Today's</th>
                                  <th>This Week's</th>
                                  <th>This Month's</th>
                                  <th>Total</th>
                               </tr>
                            </thead>
                            <tbody id="depositTable">
                               <tr>
                                  <td><img src="assets/images/ticon/Bitcoin.png"> BTC</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/Ethereum-ETH-icon.png"> ETH</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/ltc.png"> LTC</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/xrp.png"> XRP</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/USDT.png"> USDT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>150</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/trx.png"> TRX</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>1247.940359</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/YFI.png"> YFI</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/linkico.png"> LINK</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/doge.png"> DOGE</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/dot.png"> DOT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/bnb.png"> BNB</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/umc.png"> UMC</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>6.2330000000000005</td>
                                  <td>8247.60987433354</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/spt.png"> SPT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 mt-3 mb-3">
                   <div class="table-card">
                      <h5 class="text-title mb-3">Withdraw Stats</h5>
                      <div class="table-responsive">
                         <table class="table " id="statsTable">
                            <thead>
                               <tr>
                                  <th>Stats of</th>
                                  <th>Today's</th>
                                  <th>This Week's</th>
                                  <th>This Month's</th>
                                  <th>Total</th>
                               </tr>
                            </thead>
                            <tbody id="withdrawTable">
                               <tr>
                                  <td><img src="assets/images/ticon/Bitcoin.png"> BTC</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/Ethereum-ETH-icon.png"> ETH</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0.01</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/ltc.png"> LTC</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/xrp.png"> XRP</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/USDT.png"> USDT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>187</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/trx.png"> TRX</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>2510</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/YFI.png"> YFI</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/linkico.png"> LINK</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/doge.png"> DOGE</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>50</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/dot.png"> DOT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/bnb.png"> BNB</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/umc.png"> UMC</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>7309.168700000001</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/spt.png"> SPT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6 mt-3 mb-3">
                   <div class="table-card">
                      <h5 class="text-title mb-3">Buy Stats </h5>
                      <div class="table-responsive">
                         <table class="table " id="statsTable">
                            <thead>
                               <tr>
                                  <th>Stats of</th>
                                  <th>Today's</th>
                                  <th>This Week's</th>
                                  <th>This Month's</th>
                                  <th>Total</th>
                               </tr>
                            </thead>
                            <tbody id="buyTable">
                               <tr>
                                  <td><img src="assets/images/ticon/Bitcoin.png"> BTC</td>
                                  <td>0.32700000</td>
                                  <td>0.32700000</td>
                                  <td>0.32700000</td>
                                  <td>0.33373151</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/Ethereum-ETH-icon.png"> ETH</td>
                                  <td>3.30000000</td>
                                  <td>3.30000000</td>
                                  <td>3.30000000</td>
                                  <td>3.39000000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/ltc.png"> LTC</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.40000000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/xrp.png"> XRP</td>
                                  <td>3,079.00</td>
                                  <td>3,079.00</td>
                                  <td>3,079.00</td>
                                  <td>3,079.00</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/trx.png"> TRX</td>
                                  <td>19,867.00</td>
                                  <td>19,867.00</td>
                                  <td>19,867.00</td>
                                  <td>23,187.27</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/linkico.png"> LINK</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/doge.png"> DOGE</td>
                                  <td>0.00000</td>
                                  <td>0.00000</td>
                                  <td>0.00000</td>
                                  <td>0.00000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/umc.png"> UMC</td>
                                  <td>0.0000</td>
                                  <td>0.0000</td>
                                  <td>0.0000</td>
                                  <td>611.7712</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/spt.png"> SPT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/bnb.png"> BNB</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 mt-3 mb-3">
                   <div class="table-card">
                      <h5 class="text-title mb-3">Sell Stats </h5>
                      <div class="table-responsive">
                        <table class="table " id="statsTable">
                            <thead>
                               <tr>
                                  <th>Stats of</th>
                                  <th>Today's</th>
                                  <th>This Week's</th>
                                  <th>This Month's</th>
                                  <th>Total</th>
                               </tr>
                            </thead>
                            <tbody id="buyTable">
                               <tr>
                                  <td><img src="assets/images/ticon/Bitcoin.png"> BTC</td>
                                  <td>0.32700000</td>
                                  <td>0.32700000</td>
                                  <td>0.32700000</td>
                                  <td>0.33373151</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/Ethereum-ETH-icon.png"> ETH</td>
                                  <td>3.30000000</td>
                                  <td>3.30000000</td>
                                  <td>3.30000000</td>
                                  <td>3.39000000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/ltc.png"> LTC</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.40000000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/xrp.png"> XRP</td>
                                  <td>3,079.00</td>
                                  <td>3,079.00</td>
                                  <td>3,079.00</td>
                                  <td>3,079.00</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/trx.png"> TRX</td>
                                  <td>19,867.00</td>
                                  <td>19,867.00</td>
                                  <td>19,867.00</td>
                                  <td>23,187.27</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/linkico.png"> LINK</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/doge.png"> DOGE</td>
                                  <td>0.00000</td>
                                  <td>0.00000</td>
                                  <td>0.00000</td>
                                  <td>0.00000</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/umc.png"> UMC</td>
                                  <td>0.0000</td>
                                  <td>0.0000</td>
                                  <td>0.0000</td>
                                  <td>611.7712</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/spt.png"> SPT</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>0</td>
                               </tr>
                               <tr>
                                  <td><img src="assets/images/ticon/bnb.png"> BNB</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                                  <td>0.00000000</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-12 pt-3">
             <div class="deshlink-div">
                <div class="card">
                   <div class="card-hearder">
                      <h5>Exchange Income Report</h5>
                   </div>
                   <div class="card-body">
                      <div class="row">
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/Bitcoin.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">BTC</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/Ethereum-ETH-icon.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">eth</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/ltc.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">ltc</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/xrp.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">xrp</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/USDT.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">usdt</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/trx.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">trx</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="col">
                            <div class="xcard">
                               <a href="">
                                  <div class="exin">
                                     <div>
                                        <img src="assets/images/ticon/YFI.png">
                                     </div>
                                     <div>
                                        <div class="exin-tit">yfi</div>
                                        <div class="exin-val">Total: <span></span></div>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col">
                               <div class="xcard">
                                  <a href="">
                                     <div class="exin">
                                        <div>
                                           <img src="assets/images/ticon/linkico.png">
                                        </div>
                                        <div>
                                           <div class="exin-tit">link</div>
                                           <div class="exin-val">Total: <span></span></div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col">
                               <div class="xcard">
                                  <a href="">
                                     <div class="exin">
                                        <div>
                                           <img src="assets/images/ticon/doge.png">
                                        </div>
                                        <div>
                                           <div class="exin-tit">doge</div>
                                           <div class="exin-val">Total: <span></span></div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col">
                               <div class="xcard">
                                  <a href="">
                                     <div class="exin">
                                        <div>
                                           <img src="assets/images/ticon/dot.png">
                                        </div>
                                        <div>
                                           <div class="exin-tit">dot</div>
                                           <div class="exin-val">Total: <span></span></div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col">
                               <div class="xcard">
                                  <a href="">
                                     <div class="exin">
                                        <div>
                                           <img src="assets/images/ticon/bnb.png">
                                        </div>
                                        <div>
                                           <div class="exin-tit">bnb</div>
                                           <div class="exin-val">Total: <span></span></div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col">
                               <div class="xcard">
                                  <a href="">
                                     <div class="exin">
                                        <div>
                                           <img src="assets/images/ticon/umc.png">
                                        </div>
                                        <div>
                                           <div class="exin-tit">umc</div>
                                           <div class="exin-val">Total: <span></span></div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col">
                               <div class="xcard">
                                  <a href="">
                                     <div class="exin">
                                        <div>
                                           <img src="assets/images/ticon/spt.png">
                                        </div>
                                        <div>
                                           <div class="exin-tit">spt</div>
                                           <div class="exin-val">Total: <span></span></div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>