<div class="withdraw p-3">
    <div class="row">
        <div class="col-xxl-10 col-xl-10 col-md-10 col-12 left-side">
            <h6 class="pb-3">Crypto</h6>
            <div class="table-responsive">
                <table class="table" id="deposit">
                    <thead>
                        <tr>
                            <th>
                                <p class="mb-0 ms-3">Currency</p>
                            </th>
                            <th>Available</th>
                            <th>Total</th>
                            <th>Worth USDT</th>
                            <th>In Order</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="infoTable">
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\BTC.png"><span>BTC</span><small>Bitcoin</small>
                            </td>
                            <td>
                                0.00000000 <span>BTC</span>
                            </td>

                            <td>
                                0.00000000 <span>BTC</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\ETH.png"><span>ETH</span><small>Ethereum</small>
                            </td>
                            <td>
                                0.00000000 <span>ETH</span>
                            </td>

                            <td>
                                0.00000000 <span>ETH</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\LTC.png"><span>LTC</span><small>Litecoin</small>
                            </td>
                            <td>
                                0.00000000 <span>LTC</span>
                            </td>

                            <td>
                                0.00000000 <span>LTC</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\XRP.png"><span>XRP</span><small>Ripple</small>
                            </td>
                            <td>
                                0.00 <span>XRP</span>
                            </td>

                            <td>
                                0.00 <span>XRP</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\USDT.png"><span>USDT</span><small>USD
                                    Tether ( Trc20 )</small></td>
                            <td>
                                0 <span>USDT</span>
                            </td>

                            <td>
                                0 <span>USDT</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\TRX.png"><span>TRX</span><small>Tron</small>
                            </td>
                            <td>
                                0.00 <span>TRX</span>
                            </td>

                            <td>
                                0.00 <span>TRX</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\YFI.png"><span>YFI</span><small>Yearn
                                    Finance</small></td>
                            <td>
                                0.00000000 <span>YFI</span>
                            </td>

                            <td>
                                0.00000000 <span>YFI</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\LINK.png"><span>LINK</span><small>Chainlink</small>
                            </td>
                            <td>
                                0.00000000 <span>LINK</span>
                            </td>

                            <td>
                                0.00000000 <span>LINK</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\DOGE.png"><span>DOGE</span><small>Dogecoin
                                    (BEP20)</small></td>
                            <td>
                                0.00000 <span>DOGE</span>
                            </td>

                            <td>
                                0.00000 <span>DOGE</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\DOT.png"><span>DOT</span><small>Polkadot</small>
                            </td>
                            <td>
                                0.0000 <span>DOT</span>
                            </td>

                            <td>
                                0.0000 <span>DOT</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.0000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\BNB.png"><span>BNB</span><small>Binance
                                    Coin</small></td>
                            <td>
                                0.00000000 <span>BNB</span>
                            </td>

                            <td>
                                0.00000000 <span>BNB</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.00000000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\UMC.png"><span>UMC</span><small>Ultramoc
                                    Coin</small></td>
                            <td>
                                0.0000 <span>UMC</span>
                            </td>

                            <td>
                                0.0000 <span>UMC</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0.0000 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="withname"><img class="watch-img" width="20" height="20"
                                    src="assets\images\ikons\SPT.png"><span>SPT</span><small>Spider
                                    Token</small></td>
                            <td>
                                0 <span>SPT</span>
                            </td>

                            <td>
                                0 <span>SPT</span>
                            </td>
                            <td>
                                ≈ 0.0000 </td>
                            <td>
                                0 </td>
                            <td class="action-links">
                                <a href="javascript:void(0);">	Transfer Transaction</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-md-2  col-12 right-side d-lg-block d-none">
          <div><app-order-place></app-order-place> </div>
        </div>
    </div>
</div>