<!-- <button style="color: red;" (click)="conncetion1()">Send web socket</button> -->
<button style="color: red;" (click)="connect()">connect</button>

<button style="color: red;" (click)="login()">Login</button>
<!-- <button style="color: red;" (click)="order()">Order Req</button> -->

<button style="color: red;" (click)="Order()">Order buy</button>

<button style="color: red;" (click)="Order1()">Order sell</button>


<button   style="color: red;" (click)="OrderCancel()">Order cancel</button>

<button   style="color: red;" (click)="OrderModify()">Order Modify</button>
<button>Converted</button>

<!-- <input 
type="text" 
class="form-control"  
[name]="'name_'+i" 
[(ngModel)]="x.value"> -->
<!-- <h1>Order request:-</h1>
<button style="color: red;" (click)="order()">Order</button> -->

<!-- <form #myForm="ngForm" (ngSubmit)="orderSend()">
    <label>ID:</label>
    <input [(ngModel)]="formData.ID" name="ID" required>

    <label>Key:</label>
    <input [(ngModel)]="formData.Key" name="Key" required>

   
    <label>SymID:</label>
    <input [(ngModel)]="formData.SymID" name="SymID" required>

    <label>U:</label>
    <input [(ngModel)]="formData.U" name="U" required>

    <label>Buy_Sell:</label>
    <input [(ngModel)]="formData.Buy_Sell" name="Buy_Sell" required>

    <label>T:</label>
    <input [(ngModel)]="formData.T" name="T" required>

    <label>P:</label>
    <input [(ngModel)]="formData.P" name="P" required>

    <label>L:</label>
    <input [(ngModel)]="formData.L" name="L" required>

    <label>SL:</label>
    <input [(ngModel)]="formData.SL" name="SL" required>

    <label>C:</label>
    <input [(ngModel)]="formData.C" name="C" required>

    <button type="submit">Invoke orderSend</button>
  </form>


  <div *ngIf="jsonBytes">
    <pre>{{ jsonBytes | json }}</pre>
  </div> -->