<div class="deposit p-3">
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-md-12 col-12 left-side">
            <h6  class="pb-3">Trade</h6>
            <div class="table-responsive">
                <table class="table" id="deposit">
                    <thead>
                        <tr>
                            <th>
                                <p class="mb-0 ms-3">Timestamp</p>
                            </th>
                            <th>Symbol</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Price</th>
                         </tr>
                    </thead>
                    <tbody id="infoTable">
                        <tr>
                            <td><div class="mb-0 ms-3">23/10/2023: 10:40AM</div></td>
                            <td class="tbl-img">
                                <img class="watch-img" src="assets\images\ikons\BTC.png"><span>BTC</span>
                            </td>
                            <td><span class="cl-type-buy">Buy</span></td>
                            <td>≈ 0.0000 </td>
                            <td>5941.16 INR </td>
                           
                        </tr>
                        <tr>
                            <td><div class="mb-0 ms-3">23/10/2023: 10:40AM</div></td>
                            <td class="tbl-img">
                                <img class="watch-img" src="assets\images\ikons\BTC.png"><span>BTC</span>
                            </td>
                            <td><span class="cl-type-buy">Buy</span></td>
                            <td>≈ 0.0000 </td>
                            <td>5941.16 INR </td>
                           
                        </tr>
                        <tr>
                            <td><div class="mb-0 ms-3">23/10/2023: 10:40AM</div></td>
                            <td class="tbl-img">
                                <img class="watch-img" src="assets\images\ikons\BTC.png"><span>BTC</span>
                            </td>
                            <td><span class="cl-type-buy">Buy</span></td>
                            <td>≈ 0.0000 </td>
                            <td>5941.16 INR </td>
                           
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


