<div class="p-two-p-scroll-design">
    <section class="setpage p-two-p-section-radius p-two-p-bg-white p-two-p-height-scroll">
        <div class="container-fluid padmng">
            <div class="row dd-top-card pt-4 mb-3">
                <div class="col-md-6">
                    <h2 class="pageheading">Trasaction History</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid padmng">
            <div class="row dd-top-card pt-3 mb-3">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="filter d-flex align-items-center mb-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <label>
                                    <input type="radio" name="buy-sell" id="buy" class="me-1">Buy
                                </label>
                                <label>
                                    <input type="radio" name="buy-sell" id="sell" class="me-1">Sell
                                </label>
                            </div>
                            <div class="dropdown">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choose the Symbol</option>
                                    <option value="1">BTC</option>
                                    <option value="2">DOT</option>
                                    <option value="3">LTC</option>
                                    <option value="3">TRX</option>
                                    <option value="3">XRP</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="statsTable" class="table">
                                <thead>
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Created on</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Min</th>
                                        <th>Max</th>
                                        <th>Hold Time</th>
                                        <th>Validity</th>
                                    </tr>
                                </thead>
                                <tbody id="withdrawTable">
                                    <tr>
                                        <td><img src="assets/images/ticon/Bitcoin.png" width="20"> BTC</td>
                                        <td><span>01-Aug-2023</span></td>
                                        <td><span>Devesh</span></td>
                                        <td><span>devesh@gmail.com</span></td>
                                        <td><span>312560</span></td>
                                        <td><span>1441</span></td>
                                        <td><span>2154</span></td>
                                        <td><span>54242</span></td>
                                        <td><span>1 hour</span></td>
                                        <td><span>31-Aug-2023</span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/ticon/Bitcoin.png" width="20"> BTC</td>
                                        <td><span>10-Aug-2023</span></td>
                                        <td><span>Anurag</span></td>
                                        <td><span>anurag@gmail.com</span></td>
                                        <td><span>32560</span></td>
                                        <td><span>141</span></td>
                                        <td><span>214</span></td>
                                        <td><span>542</span></td>
                                        <td><span>2 days</span></td>
                                        <td><span>31-Sep-2023</span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/ticon/Bitcoin.png" width="20"> BTC</td>
                                        <td><span>28-July-2023</span></td>
                                        <td><span>Sonu</span></td>
                                        <td><span>sonu@gmail.com</span></td>
                                        <td><span>15263</span></td>
                                        <td><span>2543</span></td>
                                        <td><span>5463</span></td>
                                        <td><span>10546</span></td>
                                        <td><span>9 minutes</span></td>
                                        <td><span>31-Aug-2023</span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/ticon/Bitcoin.png" width="20"> BTC</td>
                                        <td><span>01-Aug-2023</span></td>
                                        <td><span>Devesh</span></td>
                                        <td><span>devesh@gmail.com</span></td>
                                        <td><span>312560</span></td>
                                        <td><span>1441</span></td>
                                        <td><span>2154</span></td>
                                        <td><span>54242</span></td>
                                        <td><span>1 hour</span></td>
                                        <td><span>31-Aug-2023</span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/ticon/Bitcoin.png" width="20"> BTC</td>
                                        <td><span>10-Aug-2023</span></td>
                                        <td><span>Anurag</span></td>
                                        <td><span>anurag@gmail.com</span></td>
                                        <td><span>32560</span></td>
                                        <td><span>141</span></td>
                                        <td><span>214</span></td>
                                        <td><span>542</span></td>
                                        <td><span>2 days</span></td>
                                        <td><span>31-Sep-2023</span></td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/images/ticon/Bitcoin.png" width="20"> BTC</td>
                                        <td><span>28-July-2023</span></td>
                                        <td><span>Sonu</span></td>
                                        <td><span>sonu@gmail.com</span></td>
                                        <td><span>15263</span></td>
                                        <td><span>2543</span></td>
                                        <td><span>5463</span></td>
                                        <td><span>10546</span></td>
                                        <td><span>9 minutes</span></td>
                                        <td><span>31-Aug-2023</span></td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <ul class="pagination pagination-sm justify-content-end mt-2">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
</div>