
<div class="p-two-p-scroll-design">
    <section class="setpage p-two-p-section-radius p-two-p-bg-white  p-two-p-height-scroll">
        <div class="container-fluid padmng">
            <div class="row dd-top-card pt-4 mb-3">
                <div class="col-md-6">
                    <h2 class="pageheading">Sub Tab</h2>
                </div>
            </div>
        </div>
<div class="container-fluid executives padmng">
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4 text-end">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <!-- <h2 class="text-start mb-1">Sub Tab</h2>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Executives Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sub Tab</li>
                        </ol>
                    </nav> -->
                </div>
                <div>
                    <button type="button" class="btn btn-light add-button" (click)="openVerticallyCentered(content,0)"><i
                            class='bx bx-cube me-2'></i> Add
                        Sub Master</button>
                </div>
            </div>
            <!-- <hr> -->
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="executives-card p-3 pb-0">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mb-3" *ngFor="let data of subMasterData">
                        <div class="card p-0" >
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="pb-0 mb-0"><i class='bx bx-cube me-2'></i> {{data.Master}}</h4>
                                    <div ngbDropdown class="d-inline-block">
                                        <button type="button" class="btn btn-outline-primary drop" id="dropdownForm1"
                                            ngbDropdownToggle><i class='bx bx-dots-vertical-rounded'></i></button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                            <button type="button" ngbDropdownItem
                                                (click)="openVerticallyCentered(content,data)"><i
                                                    class='bx bxs-edit me-1'></i>
                                                Edit</button>
                                            <div class="dropdown-divider"></div>
                                            <button type="button" ngbDropdownItem (click)="deleteSubMaster(data.SubMasterID,data.SubMaster)"><i class='bx bx-trash me-1'></i>
                                                Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">

                                    <div class="status-text"><i class='bx bx-folder-open me-2'></i> Sub Tab</div>
                                    <div class="status-text-bold orang-col">
                                        {{data.SubMaster}}
                                    </div>
                                </div>
                                <hr class="mt-2 mb-2">
                                <p class="orang-col">Permission Allow</p>
                                <hr class="mt-2 mb-2">
                                <div class="d-flex align-items-center justify-content-between">

                                    <div class="status-text"><i class='bx bx-user-plus me-2'></i> Add Tab</div>
                                    <div class="status-text-bold"  *ngIf="data.oPermit.Add==1">
                                        Allowed
                                    </div>
                                    <div class="status-text-bold"  *ngIf="data.oPermit.Add==0">
                                        Not Allowed
                                    </div>
                                </div>
                                <hr class="mt-2 mb-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="status-text"><i class='bx bx-trash me-2'></i> Delete Tab</div>
                                    <div class="status-text-bold"  *ngIf="data.oPermit.Delete==0">
                                        Not Allowed
                                    </div>
                                    <div class="status-text-bold"  *ngIf="data.oPermit.Delete==1">
                                        Allowed
                                    </div>
                                </div>
                                <hr class="mt-2 mb-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="status-text"><i class='bx bx-lock-open me-2'></i> Access Tab</div>
                                    <div class="status-text-bold"  *ngIf="data.oPermit.Access==1">
                                        Allowed
                                    </div>
                                    <div class="status-text-bold"  *ngIf="data.oPermit.Access==0">
                                        Not Allowed
                                    </div>
                                </div>
                                <hr class="mt-2 mb-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="status-text"><i class='bx bx-edit me-2'></i> Edit Tab</div>
                                    <div class="status-text-bold" *ngIf="data.oPermit.Edit==0">
                                        Not Allowed
                                    </div>
                                    <div class="status-text-bold" *ngIf="data.oPermit.Edit==1">
                                    Allowed
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 

                </div>
            </div>
        </div>
    </div>
</div>
    </section>
    </div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title"><i class='bx bx-user-plus me-1'></i> Add Sub Tab</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="subModuleForm">
            <div class="login-right">
                <div class="form">
                    <div class="form-group mb-3">
                        <fieldset [disabled]="getEditData">
                            <label for="email">Select Master</label>
                        <select class="form-select" name="source" formControlName="masterID" (change)="onSourceSelect($event)" 
                            [ngClass]="{ 'is-invalid': subModuleForm.get('masterID').touched && subModuleForm.get('masterID').invalid }">
                            <option value="">Select Source</option>
                            <option *ngFor="let data of masterData" [value]="data.MasterID">
                                {{ data.Master }}</option>
                        </select>
                    </fieldset>
        
                        
                        <div *ngIf="subModuleForm.get('masterID').touched && subModuleForm.get('masterID').invalid"
                            class="invalid-feedback">
                            <div *ngIf="subModuleForm.get('masterID').errors.required">Value
                                is Required.</div>
                        </div>
                    </div>
                    <div class="myfloating">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="email"  [readonly]="getEditData"
                            formControlName="subMasName" required
                            [ngClass]="{ 'is-invalid': subModuleForm.get('subMasName').touched && subModuleForm.get('subMasName').invalid }">
                        <label for="email">Enter Sub Master Name</label>
                        <div *ngIf="subModuleForm.get('subMasName').touched && subModuleForm.get('subMasName').invalid"
                            class="invalid-feedback">
                            <div *ngIf="subModuleForm.get('subMasName').errors.required">Value
                                is Required.</div>
                        </div>
                    </div>
                </div>
        
                </div>
        
        
            </div>
            <div class="sub-manager p-2 mt-3">
                <div class="d-flex align-items-center justify-content-between">
                    <h3> Allow Permissions</h3>
        
                </div>
            </div>
            <div class="permission-box p-2 ">
                <div class="d-flex align-items-center justify-content-between">
                  
                    <div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="form-check me-2">
                                <label class="form-check-label" for="radio_1">
                                  <input class="form-check-input" type="checkbox" formControlName="add" id="addPermission"> Add
                                </label>
                              </div>

                              <div class="form-check me-2">
                                <label class="form-check-label" for="radio_2">
                                  <input class="form-check-input" formControlName="delete" type="checkbox" id="editpermission"> Delete
                                </label>
                              </div>

                              <div class="form-check me-2">
                                <label class="form-check-label" for="radio_3">
                                  <input class="form-check-input" formControlName="access" type="checkbox" id="accpermission"> Access
                                </label>
                              </div>

                              <div class="form-check me-2">
                                <label class="form-check-label" for="radio_4">
                                  <input class="form-check-input" formControlName="edit" type="checkbox" id="delpermission"> Edit
                                </label>
                              </div>

                             

                            <!-- <div class="form-group me-2">
                                <input  type="checkbox" formControlName="add" id="addPermission">
                                <label for="radio_1">
                                    <span></span> Add
                                </label>
                            </div> -->
                            <!-- <div class="form-group me-2">
                                <input  formControlName="delete" type="checkbox" id="editpermission">
                                <label for="radio_2">
                                    <span></span> Delete
                                </label>
                            </div> -->
                            <!-- <div class="form-group me-2">
                                <input formControlName="access" type="checkbox" id="accpermission" >
                                <label for="radio_3">
                                    <span></span> Access
                                </label>
                            </div> -->
                            <!-- <div class="form-group me-2">
                                <input  formControlName="edit" type="checkbox" id="delpermission">
                                <label for="radio_4">
                                    <span></span> Edit
                                </label>
                            </div> -->
                        </div>
                    </div>
        
                </div>
                <hr class="mt-2 mb-2">
            </div>
        
        
        
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light add-button" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-light close-button"  *ngIf="!getEditData" (click)="addSubModule()">Submit</button>
        <button type="button" class="btn btn-light close-button"  *ngIf="getEditData" (click)="updateStatus()">Update Status</button>
    </div>
</ng-template>