<section  class="p-tow-p-padding" style="overflow: hidden;">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="row ">
                <div class="col-md-12">
                    <div class="pkag-bg">
                        <div>
                            <h3>Upgrade Your Package</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="package-card package-card-default">
                        <h4 class="color-mute">Basic Plan</h4>
                        <ul>
                            <li><div class="seticon"><i class="fa-solid fa-xmark"></i></div> <div>No holding time.</div></li>
                            <li><div class="seticon"><i class="fa-solid fa-xmark"></i></div> <div>Zero subscription cost.</div></li>
                            <li><div class="seticon"><i class="fa-solid fa-xmark"></i></div> <div>No partial payments.</div></li>
                            <li><div class="seticon"><i class="fa-solid fa-xmark"></i></div> <div>Zero transaction fees.</div></li>
                        </ul>
                        <div>
                            <button class="btn btnactive" disabled>Active</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="package-card package-card-pre" style="background: #353e66;">
                        <h4 class="color-warning">Standard  Plan</h4>
                        <ul>
                            <li><div class="seticon"><i class="fa-solid fa-check"></i></div> <div>1-hour holding time.</div></li>
                            <li><div class="seticon"><i class="fa-solid fa-check"></i></div> <div>500 subscription cost.</div></li>
                            <li><div class="seticon"><i class="fa-solid fa-check"></i></div> <div>you can partial payments.</div></li>
                            <li><div class="seticon"><i class="fa-solid fa-check"></i></div> <div>2% transaction fees.</div></li>
                        </ul>
                        <div>
                            <button class="btn btn-warning" >Upgrade Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>