<div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 navtab-height">
    <div class="profile-box">

        <div class="add-class-for-show-and-hide" >
                    
            <div>
                <h5 class="profile-bold-text "> Banking details</h5>
            </div>
            <div class="row">
                <div class="col-md-6" *ngIf="bankName!= null&& accountName != null">
                    <div class="bankcard cardhover  mt-4">
                        <div class="d-flex justify-content-between align-items-center ps-5 pe-5 pt-4 pb-3">
                            <div><p class="bankname-txt" style="font-size: 18px; color:#fff">{{bankName}}</p></div>
                            <div class="chipicon"><img src="assets/images/chip.png" alt="chip"></div>
                        </div>
                       
                        <div class=" text-center">
                           <p class="" style="color:#fff; font-size: 20px; letter-spacing: 5px;"><span class="personal-label me-2" style="color:#fff; font-size: 13px;">Bank Account Number</span><br><b>{{maskedValue}}</b></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center  ps-5 pe-5 pt-4 pb-3">
                            <div>
                                <div>
                                    <div class="personal-label"> <span style="color:#fff; font-size: 13px; font-weight: 300;">Account Name Holder</span></div>
                                    <p class="mb-0" style="color:#fff">{{accountName}}</p>
                                </div>
                            </div>
                           
                            <div>
                                <div class=" text-end"> <span class="text-end" style="color:#fff; font-size: 13px; font-weight: 300;">IFSC Code</span></div>
                                <p class="mb-0 text-end" style="color:#fff">{{ifsc}}</p>
                            </div>
                        </div>
                        <div class="ring"></div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="bankName== null&& accountName == null">
                    <div class="bankcard cardhover  mt-4">
                       <div class="card-no-data">
                        <img src="assets/images/p2p-no-datat.png" alt="">
                       </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>