<div class=" ">
    <div class="row middle">
        <div class="col-xxl-12 col-xl-12 col-md-12 col-12 left-side ordertrade-book-h3">
          <div class="table-responsive">
              <table class="table" id="deposit">
                  <thead>
                      <tr>
                          <th>Symbol</th>
                          <th>Type</th>
                          <th>Quantity</th>
                          <th>Price</th>
                       </tr>
                  </thead>
                  <tbody id="infoTable">
                      <tr>
                          <td class="tbl-img">
                              <div class="d-flex align-items-center">
                                  <div><img class="watch-img" src="assets\images\ikons\BTC.png"></div>
                                  <div>
                                      <div>BTC</div>
                                      <div style="font-size: 10px;">23/10/2023: 10:40AM</div>
                                  </div>
                              </div>
                              
                          </td>
                          <td><span class="cl-type-buy">Buy</span></td>
                          <td>≈ 0.0000 </td>
                          <td>5941.16 INR </td>
                      </tr>
                      <tr>
                        <td class="tbl-img">
                            <div class="d-flex align-items-center">
                                <div><img class="watch-img" src="assets\images\ikons\BTC.png"></div>
                                <div>
                                    <div>BTC</div>
                                    <div style="font-size: 10px;">23/10/2023: 10:40AM</div>
                                </div>
                            </div>
                            
                        </td>
                        <td><span class="cl-type-buy">Buy</span></td>
                        <td>≈ 0.0000 </td>
                        <td>5941.16 INR </td>
                    </tr>
                    <tr>
                        <td class="tbl-img">
                            <div class="d-flex align-items-center">
                                <div><img class="watch-img" src="assets\images\ikons\BTC.png"></div>
                                <div>
                                    <div>BTC</div>
                                    <div style="font-size: 10px;">23/10/2023: 10:40AM</div>
                                </div>
                            </div>
                            
                        </td>
                        <td><span class="cl-type-buy">Buy</span></td>
                        <td>≈ 0.0000 </td>
                        <td>5941.16 INR </td>
                    </tr>
                    <tr>
                        <td class="tbl-img">
                            <div class="d-flex align-items-center">
                                <div><img class="watch-img" src="assets\images\ikons\BTC.png"></div>
                                <div>
                                    <div>BTC</div>
                                    <div style="font-size: 10px;">23/10/2023: 10:40AM</div>
                                </div>
                            </div>
                            
                        </td>
                        <td><span class="cl-type-buy">Buy</span></td>
                        <td>≈ 0.0000 </td>
                        <td>5941.16 INR </td>
                    </tr>
  
                    
  
  
                      
                      
                  </tbody>
              </table>
          </div>
          
  
  </div>
       
    </div>
  </div>
  
