<section class="setpage">
    <div class="container-fluid padmng">
       <div class="row dd-top-card pt-4 mb-3">
          <div class="col-md-6">
             <h2 class="pageheading">
                Account Access Levels
             </h2>
          </div>
       </div>
    </div>
    <div class="container-fluid padmng">
       <div class="row dd-top-card pt-3 mb-3">
          <div class="col-md-12">
             <div class="card">
                <div class="col-md-12">
                   <div class="float-end btn-success-mng">
                      <a class="btn btn-success me-2" routerLink="/subamdin">Subadmin List</a>
                      <a class="btn btn-success me-2" href="javascript:void(0)" title="Add" (click)="openLg(content)">Add Role</a>
                      <a class="btn btn-success me-2" href="javascript:void(0)" title="Add" (click)="openLg(content2)">Add Subadmin</a>
                      <a class="btn btn-success" routerLink="/market-list">Blocked IP Address List</a>
                   </div>
                </div>
                <div class="table-responsive">
                   <table class="table" id="">
                      <thead>
                         <tr>
                            <th></th>
                            <th></th>
                            <th>
                               Superadmin        
                            
                            </th>
                            <th>Sub Admin</th>
                            <th>test access</th>
                            <th>Test</th>
                            <th>Testing</th>
                            <th>test role</th>
                            <th>testrole</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>1</td>
                            <td>Accounts Detail</td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="1"></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="1" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>2</td>
                            <td>Add Customer</td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="1"></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="17" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>3</td>
                            <td>Block user IP address</td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="1"></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="38" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>4</td>
                            <td>BTC Deposit History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="8" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>5</td>
                            <td>Credit Debit History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="23" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>6</td>
                            <td>Currency Listing</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="31" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>7</td>
                            <td>Currency Pairing</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="30" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>8</td>
                            <td>Deposit History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="9" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>9</td>
                            <td>Deposit Request</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="10" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>10</td>
                            <td>Executions Report</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="26" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>11</td>
                            <td>Income</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="19" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>12</td>
                            <td>Income History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="16" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>13</td>
                            <td>Income Report</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="42" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>14</td>
                            <td>Internal Transfer Requests</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="41" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>15</td>
                            <td>Journal Log</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="35" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>16</td>
                            <td>KYC Request</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="5" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>17</td>
                            <td>KYC Setting</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="2"></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="39" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>18</td>
                            <td>Level Achieved History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="13" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>19</td>
                            <td>Listing</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="18" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>20</td>
                            <td>LTC Deposit History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="7" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>21</td>
                            <td>Manage User Levels</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="40" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>22</td>
                            <td>Market Maker Setting</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="4" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>23</td>
                            <td>News</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="2" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>24</td>
                            <td>Order Book</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="27" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>25</td>
                            <td>Plan Setting</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="12" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>26</td>
                            <td>Ripple Deposit History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="33" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>27</td>
                            <td>Risk Manager</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="20" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>28</td>
                            <td>Role Access</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="2"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="32" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>29</td>
                            <td>Settings</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="6" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>30</td>
                            <td>Staking Settings</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="43" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>31</td>
                            <td>Support</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="11" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>32</td>
                            <td>Transactions Report</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="25" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>33</td>
                            <td>Tree View</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="14" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>34</td>
                            <td>User Log</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="37" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>35</td>
                            <td>Users Network</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="15" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>36</td>
                            <td>Wallet Balance</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="24" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>37</td>
                            <td>Withdraw History</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="3"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="21" data-accesslevel-id="7"></td>
                         </tr>
                         <tr>
                            <td>38</td>
                            <td>Withdraw Requests</td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="1" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="2" checked=""></td>
                            <td><input is_found="1" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="3" checked=""></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="4"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="5"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="6"></td>
                            <td><input is_found="0" type="checkbox" style="display:block !important;" name="accesslevel" class="" data-role-id="22" data-accesslevel-id="7"></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <ng-template #content let-modal>
    <div class="modal-header">
       <h4 class="modal-title">Add Role</h4>
       <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <form>
          <div class="form-group">
             <label for="name" class="form-control-label">Name</label>
             <input type="text" class="form-control" name="name" id="name" placeholder="Enter Role Name">
             <span class="error" style="color:red"></span>
          </div>
       </form>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Save</button>
       <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
 </ng-template>
 <ng-template #content2 let-modal>
    <div class="modal-header">
       <h4 class="modal-title">Add Subadmin</h4>
       <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <form>
          <div class="form-group mb-3">
             <label for="role" class="form-control-label">Role</label>
             <select class="form-control" name="role" id="role">
                <option value="1">Superadmin </option>
                <option value="2">Sub Admin</option>
                <option value="3">test access</option>
                <option value="4">Test</option>
                <option value="5">Testing</option>
                <option value="6">test role</option>
                <option value="7">testrole</option>
                <option value="8">sdjflsdfjk</option>
             </select>
             <span class="error" style="color:red"></span>
          </div>
          <div class="form-group mb-3">
             <label for="username" class="form-control-label">Username</label>
             <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
             <span class="error" style="color:red"></span>
          </div>
          <div class="form-group mb-3">
             <label for="email" class="form-control-label">Email</label>
             <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email">
             <span class="error" style="color:red"></span>
          </div>
          <div class="form-group mb-3">
             <label for="password" class="form-control-label">Password</label>
             <input type="text" class="form-control" name="password" id="password" placeholder="Enter Password">
             <span class="error" style="color:red"></span>
          </div>
          <div class="form-group mb-3">
             <label for="fname" class="form-control-label">First Name</label>
             <input type="text" class="form-control" name="fname" id="fname" placeholder="Enter First Name">
             <span class="error" style="color:red"></span>
          </div>
          <div class="form-group mb-3">
             <label for="lname" class="form-control-label">Last Name</label>
             <input type="text" class="form-control" name="lname" id="lname" placeholder="Enter Last Name">
             <span class="error" style="color:red"></span>
          </div>
       </form>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Save</button>
       <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
 </ng-template>