<div class="last-block">
    <div class="d-flex flex-column">
      <div class="buy-sell-wlt">
        <div class="trading_book_section sellorder">
          <div class="d-block market-pair" id="accordian-2">
            <div ngbAccordion>
              <div ngbAccordionItem [collapsed]="false">
                <h2 class="panel-m-hd pt-2">
                  Place Order
                </h2>
                <div ngbAccordionCollapse class="watchlist-balance">
                  <div ngbAccordionBody>
                    <ng-template>
                      <div id="page-content" style="padding: 0rem 0; min-height: 300px">
                        <div class="buy-sell px-3 py-2">

                          <div class="tabnavc">
                            <ul class="tabnavc-ul">
                                <li [ngClass]="{'active': currentTab == 'tab1'}" (click)="nvatabc ('tab1')">
                                    <div class="tabnavc-a ">
                                        <div><span class="tabnavc-txt">Market</span></div>
                                        
                                    </div>
                                </li>
                                <li [ngClass]="{'active': currentTab == 'tab2'}" (click)="nvatabc ('tab2')">
                                    <div class="tabnavc-a">
                                        <div><span class="tabnavc-txt">Limit</span></div>
                                        
                                    </div>
                                </li>
                                <li [ngClass]="{'active': currentTab == 'tab3'}" (click)="nvatabc ('tab3')">
                                    <div class="tabnavc-a">
                                        <div><span class="tabnavc-txt">SL - M</span></div>
                                        
                                    </div>
                                </li>
                                <li [ngClass]="{'active': currentTab == 'tab4'}" (click)="nvatabc ('tab4')">
                                    <div class="tabnavc-a">
                                        <div><span class="tabnavc-txt">SL - L</span></div>
                                       
                                    </div>
                                </li>
                            </ul>

                            <div class="add-class-for-show-and-hide" *ngIf="currentTab == 'tab1'">
                              <div class="nntab">
                                <div>
                                  <form id="limit-form" [formGroup]="makeOrders">
                                    <div class="form-group-custom d-flex mb-2 mt-2">
                                      <h6>Price</h6>
                                      <input autocomplete="off" class="form-control" id="price_buy"  formControlName="Price"
                                         placeholder="Price" readonly type="text" data-ordertype="market"
                                          />
                                      <span>{{placeOrderData?.Quote}}</span>
                                    </div>
                                    <div class="form-group-custom d-flex mb-2">
                                      <h6>Quantity</h6>
                                      <input  autocomplete="off" value="Quantity" (keypress)="numberOnly($event)" (input)="qunty()" formControlName="Quantity" class="form-control" id="price_buy"
                                      type="number" data-ordertype="market" />
                                      <span>{{placeOrderData?.Base}}</span>
                                    </div>
                                    <div  >
                                      <!-- <span *ngIf="!quantValue">Total : ~ 0.0000000  {{placeOrderData?.Quote}}</span> -->
                                   
                                      <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="!quantValue">
                                        <div class="mylbl">Total :</div>
                                         <div class="myf-13">~ 0.0000000  {{placeOrderData?.Quote}}</div>
                                      </div>
                                      <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="quantValue">
                                       <div class="mylbl"> Total :</div>
                                        <div class="myf-13">~ {{getNumber(placeOrderData?.oQuote?.L, makeOrders.value.Quantity)}}   {{placeOrderData?.Quote}}</div>
                                       </div>
                                  
                                    </div>
                                  
                                   
                                    <div  class="d-flex justify-content-between mt-3 mb-2">
                                   

                                      <button (click)="placeOrder(1,1)" [disabled]="!makeOrders.valid" class="btn btn-success n-btn-buy"  >
                                        BUY   {{placeOrderData?.Base}} 
                                      </button>
                                   
                                      <button (click)="placeOrder(2,1)" [disabled]="!makeOrders.valid" class="btn btn-danger n-btn-sell" >
                                          SELL   {{placeOrderData?.Base}}
                                        </button>

                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <div class="add-class-for-show-and-hide" *ngIf="currentTab == 'tab2'">
                              <div class="nntab">
                                <div>
                                  <form id="limit-form" [formGroup]="makeOrdersLimit">
                                    <div class="form-group-custom d-flex">
                                      <h6>Price</h6>
                                      <input autocomplete="off" (keypress)="numberOnly($event)" class="form-control" id="price_buy"
                                      type="text" data-ordertype="market"  formControlName="priceLL" 
                                        />
                                        
                                      <span>{{placeOrderData?.Quote}}</span>
                                    </div>
                                    

                                    <div class="form-group-custom d-flex">
                                      <h6>Quantity</h6>
                                      <input autocomplete="off" (keypress)="numberOnly($event)" (input)="qunty()"  formControlName="QuantityL" class="form-control" id="price_buy"
                                        type="number" data-ordertype="market" />
                                      <span>{{placeOrderData?.Base}}</span>

                                    

                                    </div>
                                    <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="!quantValue">
                                      <div class="mylbl">Total :</div>
                                       <div class="myf-13">~ 0.0000000  {{placeOrderData?.Quote}}</div>
                                    </div>
                                    <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="quantValue">
                                     <div class="mylbl"> Total :</div>
                                      <div class="myf-13">~ {{getNumber1(placeOrderData?.oQuote?.L, makeOrdersLimit.value.QuantityL)}}   {{placeOrderData?.Quote}}</div>
                                     </div>
                                    <div  class="d-flex justify-content-between mt-3 mb-2">
                                       <button  (click)="placeOrderLimit(1,2)" [disabled]="!makeOrdersLimit.valid" class="btn btn-success n-btn-buy">
                                        BUY-L  {{placeOrderData?.Base}}
                                      </button>
                                     <button  (click)="placeOrderLimit(2,2)" [disabled]="!makeOrdersLimit.valid" class="btn btn-danger n-btn-sell">
                                          SELL-L  {{placeOrderData?.Base}}
                                        </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              </div>
                              <div class="add-class-for-show-and-hide" *ngIf="currentTab == 'tab3'">
                                <div class="nntab">
                                  <div>
                                 
                                    <form id="limit-form" [formGroup]="makeOrdersSl">
                                      <div class="form-group-custom d-flex">
                                        <h6>Price</h6>
                                        <input autocomplete="off" readonly (keypress)="numberOnly($event)" class="form-control" id="price_buy"
                                        type="text" data-ordertype="market"  formControlName="priceSl" 
                                          />
                                          
                                        <span>{{placeOrderData?.Quote}}</span>
                                      </div>
                                      <div class="form-group-custom d-flex">
                                        <h6>Trigger</h6>
                                        <input autocomplete="off" (keypress)="numberOnly1($event)" class="form-control" id="price_buy"
                                        type="text" data-ordertype="market"  formControlName="trigger"
                                          />
                                          
                                        <span>{{placeOrderData?.Quote}}</span>
                                      </div>
                                    
                                      <div class="form-group-custom d-flex">
                                        <h6>Quantity</h6>
                                        <input autocomplete="off" (keypress)="numberOnly($event)" (input)="qunty2()"  formControlName="QuantitySl" class="form-control" id="price_buy"
                                          type="number" data-ordertype="market" />
                                        <span>{{placeOrderData?.Base}}</span>
  
                                      
  
                                      </div>
                                      <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="!quantValue">
                                        <div class="mylbl">Total :</div>
                                         <div class="myf-13">~ 0.0000000  {{placeOrderData?.Quote}}</div>
                                      </div>
                                      <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="quantValue">
                                       <div class="mylbl"> Total :</div>
                                        <div class="myf-13">~ {{getNumber1(placeOrderData?.oQuote?.L, makeOrdersSl.value.QuantitySl)}}   {{placeOrderData?.Quote}}</div>
                                       </div>
                                      <div  class="d-flex justify-content-between mt-3 mb-2">
                                         <button  (click)="placeOrderSL(1,4)" [disabled]="!makeOrdersSl.valid" class="btn btn-success n-btn-buy">
                                          BUY-M  {{placeOrderData?.Base}}
                                        </button>
                                       <button  (click)="placeOrderSL(2,4)" [disabled]="!makeOrdersSl.valid" class="btn btn-danger n-btn-sell">
                                            SELL-M  {{placeOrderData?.Base}}
                                          </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                                </div>
                                <div class="add-class-for-show-and-hide" *ngIf="currentTab == 'tab4'">
                                  <div class="nntab">
                                    <div>
                                      <form id="limit-form" [formGroup]="makeOrdersSl">
                                        <div class="form-group-custom d-flex">
                                          <h6>Price</h6>
                                          <input autocomplete="off" (keypress)="numberOnly($event)" class="form-control" id="price_buy"
                                          type="text" data-ordertype="market"  formControlName="priceSl" 
                                            />
                                            
                                          <span>{{placeOrderData?.Quote}}</span>
                                        </div>
                                        <div class="form-group-custom d-flex">
                                          <h6>Trigger</h6>
                                          <input autocomplete="off" (keypress)="numberOnly($event)" class="form-control" id="price_buy"
                                          type="text" data-ordertype="market"  formControlName="trigger"
                                            />
                                            
                                          <span>{{placeOrderData?.Quote}}</span>
                                        </div>
                                      
                                        <div class="form-group-custom d-flex">
                                          <h6>Quantity</h6>
                                          <input autocomplete="off" (keypress)="numberOnly($event)" (input)="qunty2()"  formControlName="QuantitySl" class="form-control" id="price_buy"
                                            type="number" data-ordertype="market" />
                                          <span>{{placeOrderData?.Base}}</span>
    
                                        
    
                                        </div>
                                        <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="!quantValue">
                                          <div class="mylbl">Total :</div>
                                           <div class="myf-13">~ 0.0000000  {{placeOrderData?.Quote}}</div>
                                        </div>
                                        <div class="form-group-custom0 d-flex justify-content-between mb-2" *ngIf="quantValue">
                                         <div class="mylbl"> Total :</div>
                                          <div class="myf-13">~ {{getNumber1(placeOrderData?.oQuote?.L, makeOrdersSl.value.QuantitySl)}}   {{placeOrderData?.Quote}}</div>
                                         </div>
                                        <div  class="d-flex justify-content-between mt-3 mb-2">
                                           <button  (click)="placeOrderSL(1,3)" [disabled]="!makeOrdersSl.valid" class="btn btn-success n-btn-buy">
                                            BUY-L  {{placeOrderData?.Base}}
                                          </button>
                                         <button  (click)="placeOrderSL(2,3)" [disabled]="!makeOrdersSl.valid" class="btn btn-danger n-btn-sell">
                                              SELL-L  {{placeOrderData?.Base}}
                                            </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                  </div>
                                  
                        </div>

                         
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="balanceslist">
          <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="false">
              
              <div ngbAccordionHeader class="d-flex justify-content-between align-items-center">
                <h2 class="panel-m-hd pt-2">
                  Balance
                </h2>
                <!-- <select>
                  <option value="1" style="background-color: transparent">
                    Show All Coins With Balances
                  </option>

                  <option value="2" style="background-color: transparent">
                    Show All Coins
                  </option>
                </select> -->
              </div>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="mt-0">
                  <ng-template>
                    <!-- <div class="exchange_balance d-flex justify-content-between">
                      <a class="greybtn" routerLink="/deposit"
                        style="border-bottom: 1px solid #f7b543; color: #f7b543;">Deposit</a>
                      <a class="greybtn" routerLink="/withdraw">Withdraw</a>
                      <a class="greybtn">Transfer</a>
                    </div> -->
                    <div class="d-flex justify-content-between total d-none">
                      <p>Total</p>
                      <p>0.00 USDT</p>
                    </div>
                    <div class="exchange_balance table-responsive customtable scroll">
                      <table class="table" style="display: none">
                        <tbody></tbody>
                        <tfoot>
                          <tr>
                            <td>Total</td>
                            <td>
                              <span class="total_estimated_fiat">0.00 USDT</span>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                      <table class="table" id="my_balance">
                        <tbody>
                          <tr>
                            <td>
                              <img src="assets\images\ikons\BTC.png" height="20" width="20" class="watch-img" />BTC
                            </td>
                            <td>
                              0.00000000<span class="estimated_fiat">≈ 0.0000 USDT</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <img src="assets\images\ikons\ETH.png" height="20" width="20" class="watch-img" />ETH
                            </td>
                            <td>
                              0.00000000<span class="estimated_fiat">≈ 0.0000 USDT</span>
                            </td>
                          </tr>
                          
                          
                        </tbody>
                        <!-- <tfoot class="total_estimated_fiat">
                          <tr>
                            <td>Total</td>
                            <td><span>0.00 USDT</span></td>
                          </tr>
                        </tfoot> -->
                      </table>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>