.footer {
    font-size: .875rem;
}
.footer {
    bottom: 0;
    padding: 16px;
    position: absolute;
    right: 0;
    left: 0;
    color: #2E3346;
    background: #fff;
    border-top: 1px solid #eceff5;
}