<div class="kyc p-3 pt-0">
    <div class="row">
        <div class="col-md-12">
            <h6>Personal Info</h6>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-card">
                        <form>
                            <div class="row">
                                <div class="col-md-3 my-2">
                                    <label>First Name</label>
                                    <input type="text" placeholder="First name">
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>Last Name</label>
                                    <input type="text" placeholder="Last name">
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>Mobile</label>
                                    <input type="text" placeholder="9876543210" readonly>
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>E-mail address</label>
                                    <input type="text" placeholder="anurag.singh1@marketwicks.com" readonly>
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>City</label>
                                    <input type="text" placeholder="City">
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>State</label>
                                    <input type="text" placeholder="State">
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>Nationality</label>
                                    <input type="text" placeholder="Nationality">
                                </div>
                                <div class="col-md-3 my-2">
                                    <label>Postal Code</label>
                                    <input type="text" placeholder="Postal Code">
                                </div>
                                <div class="col-12 my-2">
                                    <label>Residence Address</label>
                                    <input type="text" placeholder="Residence Address">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row for-bor mt-4">
                        <div class="col-md-3">
                            <div class="details my-2">
                                <h6>National Identity (Front)</h6>
                                <div class="cols-8 ">
                                    <div class="drop-drag">
                                        <img src="assets\images\globe.png">
                                        <p>Drag & Drop files here</p>
                                        <p>or</p>
                                        <div class="file-upload btn btn-primary">
                                            <span>Browse Files</span>
                                            <input type="file" class="upload" id="upload-btn" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="details my-2">
                                <h6>National Identity (Back)</h6>
                                <div class="cols-8  ">
                                    <div class="drop-drag">
                                        <img src="assets\images\globe.png">
                                        <p>Drag & Drop files here</p>
                                        <p>or</p>
                                        <div class="file-upload btn btn-primary">
                                            <span>Browse Files</span>
                                            <input type="file" class="upload" id="upload-btn" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="details my-2">
                                <h6>Address Proof Photo Selfie</h6>
                                <div class="cols-8">
                                    <div class="drop-drag">
                                        <img src="assets\images\loca.png">
                                        <p>Drag & Drop files here</p>
                                        <p>or</p>
                                        <div class="file-upload btn btn-primary">
                                            <span>Browse Files</span>
                                            <input type="file" class="upload" id="upload-btn" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="details my-2">
                                    <h6>Photo KYC</h6>
                                    <div class="cols-8 ">
                                        <div class="drop-drag">
                                            <img src="assets\images\camera.png">
                                            <p>Capture Photo</p>
                                            <p class="hidden">or</p>
                                            <div class="file-upload btn btn-primary">
                                                <span>Open Camera</span>
                                                <input type="file" class="upload" id="upload-btn" />
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="note">Note : Maximum image size should be 5 MB. Accepted file formats are .JPG, .JPEG and
                        .PNG.</p>
                </div>
            </div>

        </div>
    </div>
</div>