<div class="p-two-p-scroll-design">
    <section class="setpage p-two-p-section-radius p-two-p-bg-white p-two-p-height-scroll">
        <div class="container-fluid padmng">
            <div class="row dd-top-card pt-4 mb-3">
                <div class="col-md-6">
                    <h2 class="pageheading">User Details</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid padmng">
            <div class="row dd-top-card pt-3 mb-3">
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                    <div class="profile-box">
                     <div class="d-flex  mb-4">
                         <div class="avt me-3" >
                             <div class="circle">
                                 <img class="profile_pic"
                                     src="assets/images/fake-user.png">
                             </div>
                            
                         </div>
                        
                         <div class="dsection1">
                             <h5 >first last</h5>
                             <div class="d-flex">
                                 <p class="p-label">User id:</p><p>XXXXXX</p>
                             </div>
                             <div class="d-flex">
                                 <p class="p-label">Pan:</p><p>XXXXXXXXXXX</p>
                             </div>
                             <div class="d-flex">
                                 <p class="p-label">DOB:</p><p>10/10/2000</p>
                             </div>
                         </div>
                     </div>
                     <!-- tabnav  -->
                     <div class="tabnavc">
                         <ul class="tabnavc-ul">
                             <li  [ngClass]="{'active': currentTab == 'tab1'}" (click)="nvatabc ('tab1')">
                                 <div class="tabnavc-a ">
                                     <div><span class="tabnavc-txt">Personal Details</span></div>
                                     <div><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                 </div>
                             </li>
                             <li [ngClass]="{'active': currentTab == 'tab2'}" (click)="nvatabc ('tab2')">
                                 <div class="tabnavc-a">
                                     <div><span class="tabnavc-txt">Bank Details</span></div>
                                     <div><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                 </div>
                             </li>
                             <li [ngClass]="{'active': currentTab == 'tab3'}" (click)="nvatabc ('tab3')">
                                 <div class="tabnavc-a">
                                     <div><span class="tabnavc-txt">Documents</span></div>
                                     <div><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                 </div>
                             </li>
                             <li [ngClass]="{'active': currentTab == 'tab4'}" (click)="nvatabc ('tab4')">
                                 <div class="tabnavc-a">
                                     <div><span class="tabnavc-txt">Nominee Details</span></div>
                                     <div><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-9 navtab-height">
                     <div class="profile-box">
                         <div class="add-class-for-show-and-hide amindiv"  *ngIf="currentTab == 'tab1'">
                             <div><h5 class="profile-bold-text " > Personal details</h5></div>
                             <form >
                             <div class="row">
                               
                                 <div class="col-md-3 boder-b1">
                                     <div class="pro-personal-val ">
                                         <div>
                                             <div class="personal-label"><i class="fa fa-mobile me-2" aria-hidden="true"></i> <span>Mobile</span></div>
                                             <p class="mb-0">787186629</p>
                                         </div>
                                         
                                     </div>
                                 </div>
                                 
                                 <div class="col-md-3 boder-b1">
                                     <div class="pro-personal-val ">
                                         <div>
                                             <div class="personal-label"><i class="fa fa-envelope-o me-2" aria-hidden="true"></i> <span>Email id</span></div>
                                             <p class="mb-0">email.com</p>
                                         </div>
                                         <div>
                                             <!-- <button class="btn btn-link btn-sm">Edit</button> -->
                                         </div>
                                     </div>
                                 </div>
         
                                 <div class="col-md-12 boder-b1">
                                     <div class="row ">
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Gender</span></div>
                                                     <p class="mb-0">Male</p>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Marital Status</span></div>
                                                     <p class="mb-0">Unmarried</p>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Qualification</span></div>
                                                     <p class="mb-0">Master's </p>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Occupation</span></div>
                                                     <p class="mb-0">Public Sector</p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
         
                                 <div class="col-md-12 boder-b1">
                                     <div class="row ">
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Annual Income (in Lakhs)</span></div>
                                                     <p class="mb-0">800000</p>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Stack Market Exp.</span></div>
                                                     <p class="mb-0">3 Years</p>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="pro-personal-val">
                                                 <div>
                                                     <div class="personal-label"> <span>Net Worth (in Lakhs)</span></div>
                                                     <p class="mb-0">12000000</p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
         
                                 <div class="col-md-12">
                                     <div class="pro-personal-val">
                                         <div>
                                             <div class="personal-label"><i class="fa fa-map-marker me-2" aria-hidden="true"></i> <span>Address</span></div>
                                             <p class="mb-0">U.P, NX One Avenue, Plot No - 17, Techzone 4, Greater Noida, Uttar Pradesh 201306</p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </form>
                         </div>
                         <div class="add-class-for-show-and-hide amindiv" *ngIf="currentTab == 'tab2'">
                             <div><h5 class="profile-bold-text " > Banking details</h5></div>
                             
                             <div class="row">
                                 <div class="col-md-6">
                                     <div class="bankcard cardhover  mt-4">
                                         <div class="d-flex justify-content-between align-items-center p-5">
                                             <div><p class="bankname-txt" style="font-size: 18px; color:#fff">Yes bank private limited</p></div>
                                             <div class="chipicon"><img src="assets/images/chip.png" alt="chip"></div>
                                         </div>
                                        
                                         <div class=" text-center">
                                            <p class="" style="color:#fff; font-size: 20px; letter-spacing: 5px;"><span class="personal-label me-2" style="color:#fff; font-size: 13px;">Bank Account Number</span><br><b>XXXXXXXXXX5874</b></p>
                                         </div>
                                         <div class="d-flex justify-content-between align-items-center p-5">
                                             <div>
                                                 <div>
                                                     <div class="personal-label"> <span style="color:#fff; font-size: 13px; font-weight: 300;">Account Name Holder</span></div>
                                                     <p class="mb-0" style="color:#fff">Anurag singh</p>
                                                 </div>
                                             </div>
                                            
                                             <div>
                                                 <div class=" text-end"> <span class="text-end" style="color:#fff; font-size: 13px; font-weight: 300;">IFSC Code</span></div>
                                                 <p class="mb-0 text-end" style="color:#fff">sbin0062626</p>
                                             </div>
                                         </div>
                                         <div class="ring"></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="add-class-for-show-and-hide amindiv" *ngIf="currentTab == 'tab3'">
                             
                             <form >
                             <div class="row">
                                 <!-- <div class="col-md-6">
                                     <div><h5 class="profile-bold-text mb-5" >Pan Details</h5></div>
                                     <div class="row pan-div pan-bg cardhover">
                                         <div class="col-md-12">
                                             <div class="row">
                                                 <div class="col-6">
                                                     <div>
                                                         <img style="height: 46px; filter: drop-shadow(2px 0px 5px red);" src="assets/images/india-tax.png">
                                                     </div>
                                                 </div>
                                                 <div class="col-6">
                                                     <div class="text-end">
                                                         <img style="height: 46px; filter: drop-shadow(2px 0px 5px red);" src="assets/images/ogvt-ind.png">
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         
                                         <div class="col-md-12">
                                             <div class=" ">
                                                 <div class="mt-5 pantext1">
                                                     <p class=""><span class=" me-2">Name</span><b>Anurag Singh</b></p>
                                                 </div>
                                              </div>
                                         </div>
                                         <div class="col-md-12">
                                             <div class=" ">
                                                 <div class=" pantext1">
                                                     <p class=""><span class=" me-2">DOB</span><b>21/10/1988</b></p>
                                                 </div>
                                              </div>
                                         </div>
                                         <div class="col-md-12">
                                             <div class=" mb-5">
                                                 <div class=" pantext1">
                                                     <p class=""><span class=" me-2">Pan Number</span><br><b>EYPSSS5478A</b></p>
                                                 </div>
                                              </div>
                                         </div>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                 <div><h5 class="profile-bold-text mb-5" style="color:#e1e1e1">Aadhar Details</h5></div>
                                 <div class="row pan-div aadhar-bg cardhover">
                                     <div class="col-md-12">
                                         <div class="row">
                                             <div class="col-3">
                                                 <div>
                                                     <img style="height: 40px;" src="assets/images/india-gov-logo.png">
                                                 </div>
                                             </div>
                                             <div class="col-6">
                                                 <div class="text-end">
                                                     <img style="width: 100%;" src="assets/images/aadhar-strip1.png">
                                                 </div>
                                             </div>
                                             <div class="col-3">
                                                 <div class="text-end">
                                                     <img style="height: 40px;" src="assets/images/Aadhaar_Logo.svg.png">
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     
                                     <div class="col-md-12">
                                         <div class=" ">
                                             <div class="mt-5 pantext1">
                                                 <p class=""><span class=" me-2">Name</span><b>Anurag Singh</b></p>
                                             </div>
                                          </div>
                                     </div>
                                     <div class="col-md-12">
                                         <div class=" ">
                                             <div class=" pantext1">
                                                 <p class=""><span class=" me-2">Gender</span><b>Male</b></p>
                                             </div>
                                          </div>
                                     </div>
                                     <div class="col-md-12">
                                         <div class=" mb-5">
                                             <div class=" pantext1">
                                                 <p class=""><span class=" me-2">Aadhar Number</span><br><b>xxxxxxxx5878</b></p>
                                             </div>
                                          </div>
                                     </div>
                                 </div>
                                 </div> -->
         
                                <div class="col-md-12" >
                            <div><h5 class="profile-bold-text mb-5" >Pan Details</h5></div>
                            <div class="row pan-div-maual1 aadhar-bg cardhover" >
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img style="width: 100%;height: 240px; border-radius: 8px; text-align: center;margin: 0 auto;" [src]="panImage">
                                        </div>
                                    </div>
                                </div>
                                <div class="hover-show-btn1">
                                    <div class="ringicon"><i class="fa-solid fa-magnifying-glass-plus" style="cursor: pointer;" (click)="viewPen(content4,panImage)"></i></div>
                                    <p class="pretext">Preview</p>
                                </div>
                            </div>
                                </div>
                                <div  class="col-md-12" >
                            <div><h5 class="profile-bold-text mb-5" >Aadhar Details</h5></div>
                            <div class="row pan-div-maual2 aadhar-bg cardhover">
                                <div class="col-md-12">
                                    <div class="row">
                                        <pdf-viewer [src]=aadharImage
                                                [rotation]="0"
                                                [original-size]="false"
                                                [show-all]="false"
                                                [fit-to-page]="true"
                                                [zoom]="0.4"
                                                [zoom-scale]="'page-width'"
                                                [stick-to-page]="false"
                                                [render-text]="false"
                                                [external-link-target]="'blank'"
                                                [autoresize]="true"
                                                [show-borders]="true"
                                                style="width: 100%; height: 240px; margin:0 auto; overflow: hidden !important;"></pdf-viewer>
                                     
                                    </div>
                                </div>
                                <div class="hover-show-btn2">
                                    <div class="ringicon"><i class="fa-solid fa-magnifying-glass-plus" style="cursor: pointer;" (click)="viewAadhar(content5, aadharImage)"></i></div>
                                    <p class="pretext">Preview</p>
                                </div>
                            </div>
                          
                                </div>
                        
                                 
                             </div>
                         </form>
                         </div>
                         <div class="add-class-for-show-and-hide amindiv" *ngIf="currentTab == 'tab4'">
                             <div><h5 class="profile-bold-text "> Nominee details</h5></div>
                             
                             <form >
                             <div class="row">
                                <div class="col-md-12">
                                     <div class="row">
                                         <div class="col-md-6">
                                             <div class="form-floating mb-4">
                                                <input  class="form-control ab-border0" type="text" placeholder=".">
                                                <label>Name</label>
                                              </div>
                                          </div>
                                         
                                          <div class="col-md-6">
                                             <div class="form-floating width-64 mb-4">
                                                <select class="form-select ab-border0" id="sel3" formControlName="relationship" style="font-size: 14px;">
                                                   <option value="">--Select--</option>
                                                   <option [value]="1" >Son</option>
                                                   <option [value]="2" >Daughter</option>
                                                   <option [value]="3" >Father</option>
                                                   <option [value]="4" >Mother</option>
                                                   <option [value]="5" >Grand Son</option>
                                                   <option [value]="6" >Grand Daughter</option>
                                                </select>
                                                <label for="sel3" class="form-label">Relationship</label>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                             <div class="form-floating mb-4">
                                                <input  class="form-control ab-border0"  type="date" placeholder=".">
                                                <label>Date of Birth</label>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                             <div class="form-floating mb-4">
                                                <input  class="form-control ab-border0"  type="text" formControlName="panNumber" placeholder=".">
                                                <label>Pan number</label>
                                              </div>
                                          </div>
                                        
                                         
                                     </div>
                                </div>
                             </div>
                         </form>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </section>
</div>





<ng-template #content4 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Pen Card</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<img [src]="this.penUrl" style="width: 100%;" alt="">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>




<ng-template #content5 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Aadhaar Card</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <pdf-viewer [src]=aadharUrl
        [rotation]="0"
        [original-size]="false"
        [show-all]="false"
        [fit-to-page]="true"
        [zoom]="0.4"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="false"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="true"
        style="width: 100%; height: 240px; margin:0 auto; overflow: hidden !important;"></pdf-viewer>
		
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>