<div class="invite p-3">
    <div class="row">
        <div class="col-lg-9 earn">
            <h6 class="my-3">Invite & Earn</h6>
            <div class="row">
                <div class="col-md-6">
                    <div class="earning">
                        <div class=" earn-direct">
                            <div class="direct d-flex justify-content-between">
                                <p class="clr-sky">Total Direct: <span>0</span></p>
                                <p class="clr-grn">Total Commission : 0.0000 USDT</p>
                                <h6><a href="">income history</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="earning">
                        <div class=" earn-direct">
                            <div class="direct d-flex justify-content-between">
                                <p class="clr-sky">Referral Link :</p>
                                <p class="clr-grn">https://choudhary.com/signup/devesh</p>
                                <i class="fa-regular fa-copy"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-between show-entry">
                        <div>
                            <span>Show</span>
                            <select class="mx-2">
                                <option>15</option>
                                <option>25</option>
                                <option>100</option>
                                <option>All</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div class="search position-relative">
                            <input type="Search" placeholder="Search"><i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-resposnive">
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Sponsor Name</th>
                                    <th>Level</th>
                                    <th>Join Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td colspan="4" class="text-center py-3">No Data Available</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item"><a class="page-link" href="#">First</a></li>
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            <li class="page-item"><a class="page-link" href="#">Last</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="col-lg-3 d-lg-block d-none">
            <div> <app-order-place></app-order-place> </div>
        </div>
    </div>