<!-- <p style="color:#fff; background: gren;height: 200px;">Hello payement</p> -->
<section class=" p-tow-p-padding" >
    <div class="row" style="display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;">
        <div class="col-md-4 m-auto">
            <div class="pay-card">
                <div class="success-body" *ngIf="checkType == true">
                    <div class="text-center mb-4">
                        <div>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                <circle class="path circle" fill="none" stroke="#297345" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                <polyline class="path check" fill="none" stroke="#297345" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                              </svg>
                        </div>
                        <div>
                            <h3>Payment Successful</h3>
                            <p>Your payment has been processed!</p>
                            <p>Details of the transaction has been included below</p>
                        </div>
                    </div>
                    <div class="tran-details">
                        <div class="d-flex align-items-center justify-content-between">
                            <div><p class="tr-tit">Payer Name</p></div>
                            <div><p class="tr-val text-end">{{parsedData?.payerName}}</p></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div><p class="tr-tit">Amount</p></div>
                            <div><p class="tr-val text-end">{{parsedData?.amount}}</p></div>
                        </div>
                       
                        <div class="d-flex align-items-center justify-content-between">
                            <div><p class="tr-tit">Payment Type</p></div>
                            <div><p class="tr-val text-end">{{parsedData?.paymentMode}}</p></div>
                        </div>
                    </div>
              
                    <div class="mt-4">
                        <a class="btn back-btn btn-success" style="width:100%" (click)="goBackUrl()">Back to </a>
                    </div>
                </div>

                <div class="fail-body" *ngIf="checkType == false">
                    
                    <div class="text-center mb-4">
                        <div>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                <circle class="path circle" fill="none" stroke="#B32B39" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                <line class="path line" fill="none" stroke="#B32B39" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                                <line class="path line" fill="none" stroke="#B32B39" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                              </svg>
                        </div>
                        <div>
                            <h3>Payment Failed</h3>
                            <p>Please try again!</p>
                            
                        </div>
                        {{parsedData?.status}}shdjfs
                    </div>
                    <div class="mt-4">
                        <a class="btn back-btn btn-danger" style="width:100%" (click)="goBackUrl()">Back to </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>