<section class=" p-tow-p-padding" style="overflow: hidden;">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink (click)="getStatus(1)">Order</button>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="table-responsive">
                            <table class="table" id="deposit">
                                <thead>
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Symbol</th>
                                        <th>Unit Price </th>
                                        <th>Quantity</th>
                                        <th>Order Limit</th>
                                        <th>Validity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="infoTable" *ngIf="this.showNoData == 1">

                                    <tr *ngFor="let data of pageOfItems">
                                        <td>
                                            <div class="withname d-flex align-items-center"> {{data.dtCreatedOn}}</div>

                                        </td>
                                        <td class="withname ">
                                            <div class="firstLetter symbl">
                                                <img class="me-3" src="assets\images\ikons\{{ data.Crypto }}.png" alt="img">
                                            <p class="mb-0">{{ data.Crypto }}</p>
                                        </div>
                                        </td>
                                        <td class="inr">
                                            {{data.Price}} <span> INR</span>
                                        </td>

                                        <td class="inr">
                                            {{data.Qty}}<span class="bitcoin"> {{data.Crypto}}</span>
                                        </td>
                                        <td class="inr">
                                            {{data.Min_Qty}} ~ {{data.Max_Qty}}<span class="bitcoin"> Limit</span>
                                        </td>
                                        <td>
                                            {{data.dtValidUpto}}
                                        </td>
                                        <td>
                                            <!-- <a *ngIf="editShow" (click)="openViewTrade(content, data)"
                                                class="btn btn-dl1 me-2"><i class="fa-solid fa-pen"></i> Edit</a> -->
                                                <a *ngIf="editShow"
                                                class="btn btn-dl1 me-2"><i class="fa-solid fa-pen"></i> Edit</a>
                                            <a *ngIf="cancelShow1" class="btn btn-dl2" (click)="getId(data)"><i
                                                    class="fa-solid fa-xmark"></i></a>
                                            <a *ngIf="cancelShow" class="btn btn-dl2"><i class="fa-solid fa-xmark"></i>
                                                Cancelled</a>
                                        </td>
                                    </tr>

                                </tbody>
                                <tbody id="infoTable" *ngIf="this.showNoData == 0">
                                    <tr>
                                        <td colspan="7">
                                            <div style="text-align: center;
                                                padding-top: 5%; padding-bottom: 5%; "><img style="width: 280px;"
                                                    src="assets/images/p2p-no-datat.png" alt=""></div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="this.showNoData == 1">
                        <div class="col-md-12 p-two-p-page">
                            <app-pagination [items]="orderList" (changePage)="onChangePage($event)"></app-pagination>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink (click)="getStatus(4)">Cancelled Order</button>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="table-responsive">
                            <table class="table" id="deposit">
                                <thead>
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Symbol</th>
                                        <th>Unit Price </th>
                                        <th>Quantity</th>
                                        <th>Order Limit</th>
                                        <th>Validity</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody id="infoTable" *ngIf="this.showNoData == 1">

                                    <tr *ngFor="let data of pageOfItems">
                                        <td>
                                            <div class="withname d-flex align-items-center"> {{data.dtCreatedOn}}</div>

                                        </td>
                                        <!-- <td class="withname d-flex align-items-center">
                                            <div class="firstLetter symbl"><img
                                                    src="assets\images\ikons\{{ data.Crypto }}.png" alt="img"></div>
                                            <p>{{ data.Crypto }}</p>
                                        </td> -->
                                        <td class="withname">
                                            <div class="firstLetter symbl">
                                                <img class="me-3" src="assets\images\ikons\{{ data.Crypto }}.png" alt="img">
                                                <p class="mb-0">{{ data.Crypto }}</p></div>
                                           
                                        </td>
                                        <td class="inr">
                                            <div>
                                                {{data.Price}} <span> INR</span>
                                            </div>
                                          
                                        </td>

                                        <td class="inr">
                                            <div>
                                                {{data.Qty}}<span class="bitcoin"> {{data.Crypto}}</span>
                                            </div>
                                            
                                        </td>
                                        <td class="inr">
                                            <div>
                                                {{data.Min_Qty}} ~ {{data.Max_Qty}}<span class="bitcoin"> Limit</span>
                                            </div>
                                           
                                        </td>
                                        <td>
                                            <div>
                                                {{data.dtValidUpto}}
                                            </div>
                                          
                                        </td>
                                        <td>
                                            <div>
                                                <a *ngIf="!cancelShow" (click)="openViewTrade(content, data)"
                                                class="btn btn-dl1 me-2"><i class="fa-solid fa-pen"></i> Edit</a>
                                            <a *ngIf="!cancelShow" class="btn btn-dl2" (click)="getId(data)"><i
                                                    class="fa-solid fa-xmark"></i></a>
                                            <a *ngIf="cancelShow" style="color: red;">
                                                Cancelled</a>
                                            </div>
                                           
                                        </td>
                                    </tr>

                                </tbody>
                                <tbody id="infoTable" *ngIf="this.showNoData == 0">
                                    <tr>
                                        <td colspan="7">
                                            <div style="text-align: center;
                                                padding-top: 5%; padding-bottom: 5%; "><img style="width: 280px;"
                                                    src="assets/images/p2p-no-datat.png" alt=""></div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="this.showNoData == 1">
                        <div class="col-md-12 p-two-p-page">
                            <app-pagination [items]="orderList" (changePage)="onChangePage($event)"></app-pagination>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <!-- <li [ngbNavItem]="3">
                <button ngbNavLink>Canceled</button>
                <ng-template ngbNavContent>
                    <p>
                        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                        neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                    </p>
                </ng-template>
            </li> -->
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>



</section>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Trade Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row pending-details-modal " style="background: #2E3253; border-radius: 15px; color:#fff">
            <div class="col-md-12">
                <div class="yellow-card">
                    <div class="row mb-2 align-items-center">
                        <div class="col-md-3">
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Symbol:-</div>
                                <div class="bdval1">{{tradeListData.Crypto}}</div>
                            </div>
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Trade Ref:-</div>
                                <div class="bdval1">{{tradeListData.TradeRef}}</div>
                            </div>
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Trade ID:-</div>
                                <div class="bdval1">{{tradeListData.TradeID}}</div>
                            </div>
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Created on:-</div>
                                <div class="bdval1">{{tradeListData.oTradeTime.sCreadedOn_Str}}</div>
                            </div>
                            <!-- <div class="d-flex mb-1">
                                    <div class="bdtit1">Order id:-</div>
                                    <div class="bdval1">ODR-256894</div>
                                </div>
                                <div class="d-flex mb-1">
                                    <div class="bdtit1">Name:-</div>
                                    <div class="bdval1">Yendra Narayan Verma</div>
                                </div> -->
                        </div>
                        <div class="col-md-3">
                            <h2 class="mytx1">Total Amount</h2>
                            <h2 class="mytx2">80,00000</h2>
                        </div>

                        <div class="col-md-3">
                            <div class="filter d-flex align-items-center mb-2 justify-content-end">
                                <button class="btn makepy me-2">Make Payment</button>
                                <button class="btn btn-outline-success btn-sm" style="font-size: 14px;"><i
                                        class="fa-regular fa-file-excel me-1"></i> Download</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="table-responsive">
                    <table class="table" id="deposit">
                        <thead>
                            <tr>

                                <th>
                                    <div class="chln-tbl-tit">Timestamp</div>
                                </th>
                                <th>
                                    <div class="chln-tbl-tit">Tnx id</div>
                                </th>
                                <th>
                                    <div class="chln-tbl-tit">Payment mode</div>
                                </th>
                                <th>
                                    <div class="chln-tbl-tit text-end me-5">Amount</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="infoTable">
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">8,000</span></td>
                            </tr>
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">12,000</span></td>
                            </tr>
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">10,000</span></td>
                            </tr>
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">10,000</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-end"></td>
                                <td class="text-end">Sum: <span class="me-5" style="font-weight:600">50,00000</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row pending-details-modal mt-5" style="background: #2E3253; border-radius: 15px; color:#fff">
            <div class="col-md-12">
                <div class="yellow-card">
                    <div class="row mb-2 align-items-center">
                        <div class="col-md-3">
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Symbol:-</div>
                                <div class="bdval1">{{tradeListData.Crypto}}</div>
                            </div>
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Challan No:-</div>
                                <div class="bdval1">CHLN-125478</div>
                            </div>
                            <div class="d-flex mb-1">
                                <div class="bdtit1">Created on:-</div>
                                <div class="bdval1">01-Aug-2023</div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <h2 class="mytx1">Total Amount</h2>
                            <h2 class="mytx2">80,00000</h2>
                        </div>
                        <div class="col-md-3">
                            <h2 class="mytx1">Remaining Amount</h2>
                            <h2 class="mytx2">30,00000</h2>
                        </div>
                        <div class="col-md-3">
                            <div class="filter d-flex align-items-center mb-2 justify-content-end">
                                <button class="btn btn-outline-success btn-sm" style="font-size: 14px;"><i
                                        class="fa-regular fa-file-excel me-1"></i> Download</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="table-responsive">
                    <table class="table" id="deposit">
                        <thead>
                            <tr>

                                <th>
                                    <div class="chln-tbl-tit">Timestamp</div>
                                </th>
                                <th>
                                    <div class="chln-tbl-tit">Tnx id</div>
                                </th>
                                <th>
                                    <div class="chln-tbl-tit">Payment mode</div>
                                </th>
                                <th>
                                    <div class="chln-tbl-tit text-end me-5">Amount</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="infoTable">
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">8,000</span></td>
                            </tr>
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">12,000</span></td>
                            </tr>
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">10,000</span></td>
                            </tr>
                            <tr>
                                <td>16/07/2023 - 2:24 pm</td>
                                <td>Tnx-2568545695</td>
                                <td>Bank Transfer</td>
                                <td class="text-end "><span class="me-5">10,000</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-end"></td>
                                <td class="text-end">Sum: <span class="me-5" style="font-weight:600">50,00000</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>