<div class=" ">
  <div class="row middle">
      <div class="col-xxl-12 col-xl-12 col-md-12 col-12 left-side ordertrade-book-h3">
        <div class="table-responsive">
            <table class="table" id="deposit">
                <thead>
                    <tr>
                      
                        <th>Symbol</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>P/L</th>
                        <th>Action</th>
                     </tr>
                </thead>
                <tbody id="infoTable" *ngIf="receivedDataArray.length > 0">
                    <tr *ngFor="let order of receivedDataArray ; let i = index">
                        <td class="tbl-img">
                            <div class="d-flex align-items-center">
                                <div><img class="watch-img" src="assets/images/ikons/{{order.S | slice:-3}}.png"></div>
                                <div>
                                    <div>{{symbol}}</div>
                                    <!-- <div style="font-size: 10px;">23/10/2023: 10:40AM</div> -->
                                </div>
                            </div>
                            
                        </td>
                        <td><span class="cl-type-buy" *ngIf="order.Buy_Sell == 1">Buy</span>
                            <span class="cl-type-buy" *ngIf="order.Buy_Sell == 2">Sell</span></td>
                        <td>≈ {{order.L}} </td>
                        <td>{{order.P}} {{symbol}} </td>
                        <td>pl pl</td>
                        <td class="ms-3">
                            <div >
                                <div class="text-center" *ngIf="order.T == 'Market'">
                                    <div placement="top"(click)="CaneclOrder(i)" style="cursor: pointer;" ngbTooltip="Close Order"><i style="color:orangered"  class="fa-solid fa-xmark "></i>
                                    </div>
                                </div>
                                <div class="d-flex" *ngIf="order.T == 'Limit'">
                                    <div (click)="openLg(content,i,order)"  style="cursor: pointer;" placement="top" ngbTooltip="Modify Order" class="me-3"><i style="color:orange"  class="fa-solid fa-gear " ></i></div>
                                    <div (click)="CaneclOrder(i)" placement="top"  style="cursor: pointer;" ngbTooltip="Close Order"><i style="color:orangered"  class="fa-solid fa-xmark "></i></div>
                                </div>
                              
                            </div>
                            
                        </td>
                    </tr>
                   
                </tbody>
                <tbody *ngIf="receivedDataArray.length == 0">
                    <tr>
                       <td colspan="6">
                        <div style="text-align: center; padding-top: 2%; padding-bottom: 2%; ">
                            <img style="width: 200px;" src="assets/images/p2p-no-datat.png" alt="">
                         </div>
                       </td>
                    </tr>
              
                </tbody>
            </table>
        </div>
        
</div>
 
  </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modify Your Order </h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="mb-4">
            <div class="form-group-custom d-flex">
                <h6>Price</h6>
                <input  (keypress)="numberOnly($event)" [value]="modifyData.P" autocomplete="off" class="form-control" id="price_buy"
                   type="text" />
                <span>{{symbol}}</span>
              </div>
        </div>
        <div class="mb-4">
            <div class="form-group-custom d-flex">
                <h6>Quantity</h6>
                <input  (keypress)="numberOnly($event)" [value]="modifyData.L" autocomplete="off" class="form-control" id="price_buy"
                   type="text" />
                <span>{{symbol}}</span>
              </div>
        </div>
        
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button class="btn btn-success " (click)="modify()" style="width:100%">Submit</button>
            </div>
        </div>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>